@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #FFFFFF;
  color: black;

}

.main-container {
  flex-grow: 1;
}

.main-index {
  text-align: center;
 }

 .page-header {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: row;
 }

.logotipe {
  display: block;
  width: 139px;
  margin-left: 70px;
  margin-right: 30px;

}

.navigation {
  display: flex;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;

}

.navigation-list {
  display: flex;
  justify-content: space-around;
  width: 390px;
  margin-left: 0px;
  margin-right: 237px;
  padding: 0;
}

.wrap-navigation-user {
  display: flex;
  justify-content: space-around;
  width: 264px;
  margin-left: auto;
  margin-right: 70px;
}

/*
.navigation-user {
  display: flex;
  max-width: 264px;
  margin-left: auto;
  margin-right: 70px;
}
*/

.navigation a {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.greetings {
  background-image: url("../images/background-under-header.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: blue;
  color: white;
}

.header-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.header-reason-title {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.button-title {
  background-color: #756157;
  border-radius: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  width: 160px;
}


.reason-list {
  display: flex;
  width: 1200px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.side-list {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin: 0;
  padding: 0;

}

.side-item {
  width: 400px;
  height: 384px;
  margin: 0;
}

.reason-one {
 background-color: #82B3D3;
 color: #FFFFFF;
 width: 400px;
 height: 384px;
 margin: 0;

}

.house-with-balcon {
  width: 800px;
  margin: 0;
}

.reason-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.side-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;

}

.reason-two {
  background-color: #82B3D3;
  color: #FFFFFF;
  width: 400px;
  height: 384px;
  margin: 0;
}

.background-grey {
  background-color: rgba(131, 179, 211, 0.12);
}

.background-lightgrey {
  background-color: rgba(131, 179, 211, 0.12);
}

.search-hotel-question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-hotel-date {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-hotel-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
  }

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
}

.subscription-form .button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 0px 10px 10px 0px;
}

.subscription-form input {
  background-color: #F2F2F2;
  border-radius: 0px 10px 10px 0px;
}

.subscription {
  background-image: url("../images/background-subscription-title.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: blue;
  color: white;

}

.page-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 1200px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 50px;
  margin-left: 70px;
  margin-right: 250px;
  padding: 0;
}

.footer-contacts-phone {
  display: flex;
  max-width: 331px;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.page-footer a {
  color: #000000;
  text-decoration: none;
}

.common-filter {
  display: flex;
  background-image: url("../images/background-inner.jpg");
  background-size: 100% auto;
  text-align: left;
  background-repeat: no-repeat;
  background-color: blue;
  color: white;

}

.catalog-hotel {
  display: flex;
  flex-direction: row;
  width: 1200;
  margin: 0 auto;
  flex-wrap: wrap;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.choice-hotels h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.breadcrumbs a {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
}

.button-another button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
}

.without-background button {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: inherit;
}

.catalog-hotel-search {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: left;

}

.hotel-card a {
  text-decoration: none;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
}

.hotel-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
}

.button-another button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
}

.hotel-rating button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.subscription-inner-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.subscription-inner-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscription-inner button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 0px 10px 10px 0px;
}

.subscription-inner-form input {
  background-color: #F2F2F2;
  border-radius: 0px 10px 10px 0px;
}
