@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #FFFFFF;
  color: black;

}

.main-index {
  text-align: center;
 }

.navigation {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

}

.navigation a {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.greetings {
  background-image: url("../images/background-under-header.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: blue;
  color: white;
}

.header-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.header-reason-title {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.button-title {
  background-color: #756157;
  border-radius: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;


}
.reason-one {
 background-color: #82B3D3;
 color: #FFFFFF;

}

.reason-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.side-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;

}

.reason-two {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.background-grey {
  background-color: rgba(131, 179, 211, 0.12);
}

.background-lightgrey {
  background-color: rgba(131, 179, 211, 0.12);
}

.search-hotel-question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-hotel-date {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-hotel-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
  }

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
}

.subscription-form .button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 0px 10px 10px 0px;
}

.subscription-form input {
  background-color: #F2F2F2;
  border-radius: 0px 10px 10px 0px;
}

.subscription {
  background-image: url("../images/background-subscription-title.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: blue;
  color: white;

}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.page-footer a {
  color: #000000;
  text-decoration: none;
}

.common-filter {
  background-image: url("../images/background-inner.jpg");
  background-size: 100% auto;
  text-align: left;
  background-repeat: no-repeat;
  background-color: blue;
  color: white;

}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.choice-hotels h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.button-another button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #82B3D3;
  border-radius: 4px;
  color: #FFFFFF;
}

.without-background button {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: inherit;
}

.catalog-hotel-search {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: left;

}

.hotel-card a {
  text-decoration: none;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: capitalize;
}

.hotel-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
}

.button-another button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
}

.hotel-rating button {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.subscription-inner-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.subscription-inner-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscription-inner button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 0px 10px 10px 0px;
}

.subscription-inner-form input {
  background-color: #F2F2F2;
  border-radius: 0px 10px 10px 0px;
}
